/* sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 20px;
    z-index: 1000; /* Asegura que la barra lateral esté sobre otros elementos */
    transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar.show {
    transform: translateX(0);
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar .submenu {
    display: none;
    background-color: #444;
    margin-left: 15px;
}

.sidebar .submenu a {
    padding: 8px 15px;
    font-size: 16px;
}

.sidebar .active + .submenu {
    display: block;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebar-toggle {
        display: block;
    }
}
